#App {
  height: 100%;
  .logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 24px 16px 0;
    float: left;
    line-height: 31px;
    text-align: center;
    color: #fff;
  }
  .ant-form-horizontal{
    .ant-form-item-label{
      width: 88px;
      position: absolute;
    }
    .ant-form-item-control-wrapper{
      padding-left: 88px;
      width: 100%;
    }
    &.login-form{
      .ant-form-item-control-wrapper{
        padding-left: 0px;
      }
    }
  }

  .btn-father{
    text-align: center;
    .ant-btn{
      margin-right: 8px;
      margin-bottom: 12px;
    }
    &.text-left{
      text-align: left;
      padding-left: 88px;
    }
  }
}
