.markdown-edit-actionbar{
  .ant-upload-list{
    display: none;
  }
  button {
    margin-right: 5px;
  }
}
.markdown-edit-view{
  img{
    max-width: 100%;
  }
  ul{
    list-style-type: disc;
    padding-left: 40px;
  }
  ol{
    list-style-type: decimal;
    padding-left: 40px;
  }
  table {
    border-collapse: collapse;
    th, td {
      padding: 6px 8px;
      border: 1px solid #e8e8e8;
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }
    tr:nth-child(odd) {
      background-color: #f5f5f5;
    }
  }
  pre{
    background: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}

